body{
    font-family: sans-serif;
    background-color: #fdf6e3;
    margin: 5px;
}
.titulo , h2{
    letter-spacing: 1px;
    background-color: #a12e2e7c;
    padding: 10px;
    margin-top:0;
    margin-bottom: 0;
    color: #fdf6e3;
}
#texto{
    line-height: 1.5;
}
a{
    color: rgb(66, 63, 63);
    line-height: 1.5;
}